{
  "openapi": "3.0.0",
  "info": {
    "title": "Neighbors REST API",
    "version": "2.0",
    "license": {
      "name": "Gnu General Public License",
      "url": "https://www.gnu.org/licenses/gpl.html"
    },
    "description": "The Neighbors REST API gives access to genome sequences via the taxonomy of sequenced life.\nStarting from one or more target organisms, the accessions of their genomes can be looked up.\nIn addition, the genome accessions of the targets' closest relatives, their neighbors, can be looked up.\nSuch pairs of samples of target and neighbor genomes make good starting material for developing diagnostic markers.",
    "contact": {
      "url": "https://www.evolbio.mpg.de/16023/group_bioinformatics",
      "name": "Bernhard Haubold",
      "email": "haubold@evolbio.mpg.de"
    }
  },
  "servers": [
    {
      "url": "https://neighbors.evolbio.mpg.de/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Accession",
      "description": "Endpoints concerning taxon accessions"
    },
    {
      "name": "Taxon",
      "description": "Endpoints concerning one or several taxa"
    },
    {
      "name": "Program",
      "description": "Endpoints executing programs"
    },
    {
      "name": "Misc",
      "description": "Miscellaneous endpoints"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Get services",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/{accession_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/ancestors",
                          "action": "GET",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/children",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/parent",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/rank_distribution",
                          "action": "POST",
                          "types": ["text/vnd.graphviz;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/subtree",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/accessions",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/fintac",
                          "action": "POST",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/neighbors",
                          "action": "POST",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_services",
        "parameters": [],
        "description": "Get a list of the api's services",
        "tags": ["Misc"]
      }
    },
    "/accessions": {
      "get": {
        "summary": "Get accession levels",
        "tags": ["Accession"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Accession"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": [
                      {
                        "accession": "GCF_000001405.40",
                        "level": "chromosome"
                      },
                      {
                        "accession": "GCA_000002115.2",
                        "level": "chromosome"
                      }
                    ]
                  },
                  "Links": {
                    "value": {
                      "data": [
                        {
                          "accession": "GCF_000001405.40",
                          "level": "chromosome",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/{accession_id}",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "accession": "GCA_000002115.2",
                          "level": "chromosome",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/{accession_id}",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions?accession_ids=GCF_000001405.40,GCA_000002115.2",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/{accession_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "entities",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/{accession_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "Missing required parameter."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_accessions",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "example": ["GCF_000001405.40", "GCA_000002115.2"],
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "accession_ids",
            "description": "IDs of accessions to filter for",
            "explode": false,
            "style": "form",
            "required": true
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Get accessions and their levels filtered by accession IDs"
      }
    },
    "/accessions/{accession_id}": {
      "get": {
        "summary": "Get accession's levels",
        "tags": ["Accession"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Accession"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": {
                      "accession": "GCF_000001405.40",
                      "level": "chromosome"
                    }
                  },
                  "Links": {
                    "value": {
                      "data": {
                        "accession": "GCF_000001405.40",
                        "level": "chromosome"
                      },
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/GCF_000001405.40",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "part-of",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "Missing required parameter."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_accession",
        "parameters": [
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Get accession and it's level"
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "example": "GCF_000001405.40"
          },
          "name": "accession_id",
          "in": "path",
          "required": true,
          "description": "Accession to look up"
        }
      ]
    },
    "/databases": {
      "get": {
        "summary": "Get active databases",
        "tags": ["Misc"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "examples": {
                  "Example": {
                    "value": ["latest", "2026-07", "2026-06"]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-databases",
        "description": "Get active databases",
        "parameters": [
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ]
      }
    },
    "/taxa": {
      "get": {
        "summary": "Get taxa by name",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Taxon"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": [
                      {
                        "tax_id": 1383439,
                        "parent": 1002697,
                        "name": "Homo sapiens/Mus musculus xenograft"
                      },
                      {
                        "tax_id": 1573476,
                        "parent": 1002697,
                        "name": "Homo sapiens/Rattus norvegicus xenograft"
                      }
                    ]
                  },
                  "Links": {
                    "value": {
                      "data": [
                        {
                          "tax_id": 1383439,
                          "parent": 1002697,
                          "name": "Homo sapiens/Mus musculus xenograft",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/1383439?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 1573476,
                          "parent": 1002697,
                          "name": "Homo sapiens/Rattus norvegicus xenograft",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/1573476?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa?name=homo%20sapiens/&plain_data=false",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/ancestors",
                          "action": "GET",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/children",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/parent",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/rank_distribution",
                          "action": "POST",
                          "types": ["text/vnd.graphviz;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/subtree",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "entities",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa?field_composite=all&name=homo+sapiens%2F&plain_data=false",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa?field_composite=gen_count&name=homo+sapiens%2F&plain_data=false",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa?field_composite=gen_count_rec&name=homo+sapiens%2F&plain_data=false",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa?field_composite=id&name=homo+sapiens%2F&plain_data=false",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa?field_composite=rank&name=homo+sapiens%2F&plain_data=false",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "Missing required parameter."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxa",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "homo sapiens/"
            },
            "in": "query",
            "name": "name",
            "description": "Name or pattern of the taxa",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "scientific",
            "description": "Whether to search in scientific names only"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "exact",
            "description": "Whether to search for exactly that name or use the name as a pattern"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Get basic taxon data for taxa with the given name"
      }
    },
    "/taxa/{taxon_id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "example": 9606
          },
          "name": "taxon_id",
          "in": "path",
          "required": true,
          "description": "id of taxon"
        }
      ],
      "get": {
        "summary": "Get taxon's attributes",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Taxon"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": {
                      "tax_id": 9606,
                      "parent": 9605,
                      "name": "Homo sapiens",
                      "common_name": "human"
                    }
                  },
                  "Links": {
                    "value": {
                      "data": {
                        "tax_id": 9606,
                        "parent": 9605,
                        "name": "Homo sapiens",
                        "common_name": "human"
                      },
                      "links": [
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=all",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=gen_count",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=gen_count_rec",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=id",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=rank",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "part-of",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "plain_data is not a bool."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxa_taxon_id",
        "description": "Get information about a specific taxon",
        "parameters": [
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/taxa/{taxon_id}/children": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "example": 9606
          },
          "name": "taxon_id",
          "in": "path",
          "required": true,
          "description": "id of taxon"
        }
      ],
      "get": {
        "summary": "Get taxon's children",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Taxon"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": [
                      {
                        "tax_id": 741158,
                        "parent": 9606,
                        "name": "Homo sapiens subsp. 'Denisova'",
                        "common_name": "Denisova hominin"
                      },
                      {
                        "tax_id": 63221,
                        "parent": 9606,
                        "name": "Homo sapiens neanderthalensis",
                        "common_name": "Neandertal"
                      }
                    ]
                  },
                  "Links": {
                    "value": {
                      "data": [
                        {
                          "tax-id": 0,
                          "parent": 0,
                          "name": "string",
                          "common_name": "string",
                          "links": [
                            {
                              "rel": "string",
                              "href": "http://example.com",
                              "action": "string",
                              "types": ["string"]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "string",
                          "href": "http://example.com",
                          "action": "string",
                          "types": ["string"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "plain_data is not a bool."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxa_taxon_id_children",
        "description": "Get the children of a taxon given its id",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/taxa/{taxon_id}/parent": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "example": 9606
          },
          "name": "taxon_id",
          "in": "path",
          "required": true,
          "description": "id of taxon"
        }
      ],
      "get": {
        "summary": "Get taxon's parent",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Taxon"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": {
                      "tax_id": 9605,
                      "parent": 207598,
                      "name": "Homo"
                    }
                  },
                  "Links": {
                    "value": {
                      "data": {
                        "tax_id": 9605,
                        "parent": 207598,
                        "name": "Homo"
                      },
                      "links": [
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/parent?field_composite=all",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/parent?field_composite=gen_count",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/parent?field_composite=gen_count_rec",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/parent?field_composite=id",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/parent?field_composite=rank",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/parent",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "all ancestors",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}/ancestors",
                          "action": "GET",
                          "types": ["text/plain;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "plain is not a bool."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxa_taxon_id_parent",
        "description": "Get the parent's taxon id of a given taxon",
        "parameters": [
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/taxa/{taxon_id}/subtree": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "example": 9606
          },
          "name": "taxon_id",
          "in": "path",
          "required": true,
          "description": "id of taxon"
        }
      ],
      "get": {
        "summary": "Get subtree of taxon",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Taxon"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": [
                      {
                        "tax_id": 9606,
                        "parent": 9605,
                        "name": "Homo sapiens",
                        "common_name": "human"
                      },
                      {
                        "tax_id": 741158,
                        "parent": 9606,
                        "name": "Homo sapiens subsp. 'Denisova'",
                        "common_name": "Denisova hominin"
                      },
                      {
                        "tax_id": 63221,
                        "parent": 9606,
                        "name": "Homo sapiens neanderthalensis",
                        "common_name": "Neandertal"
                      }
                    ]
                  },
                  "Links": {
                    "value": {
                      "data": [
                        {
                          "tax_id": 9606,
                          "parent": 9605,
                          "name": "Homo sapiens",
                          "common_name": "human",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 741158,
                          "parent": 9606,
                          "name": "Homo sapiens subsp. 'Denisova'",
                          "common_name": "Denisova hominin",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/741158?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 63221,
                          "parent": 9606,
                          "name": "Homo sapiens neanderthalensis",
                          "common_name": "Neandertal",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/63221?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/subtree",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "entities",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/subtree?field_composite=all",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/subtree?field_composite=gen_count",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/subtree?field_composite=gen_count_rec",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/subtree?field_composite=id",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606/subtree?field_composite=rank",
                          "action": "GET",
                          "types": [
                            "application/json;charset=utf-8",
                            "text/vnd.graphviz;charset=utf-8",
                            "text/plain;charset=utf-8"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "Taxon id is not an integer."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxa_taxon_id_subtree",
        "description": "Get the subtree of a taxon including itself",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/taxonomy": {
      "get": {
        "summary": "Get taxonomy subservices",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/accessions",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/fintac",
                          "action": "POST",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/neighbors",
                          "action": "POST",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_taxonomy_enpoints",
        "parameters": [],
        "description": "Get the endpoints provided under the taxonomy route",
        "tags": ["Taxon"]
      },
      "parameters": []
    },
    "/taxonomy/accessions": {
      "get": {
        "summary": "Get most recent common ancestor",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaxonAccessions"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": [
                      {
                        "tax_id": 278148,
                        "accessions": [
                          {
                            "accession": "GCF_001618845.1",
                            "level": "complete"
                          }
                        ]
                      },
                      {
                        "tax_id": 602633,
                        "accessions": [
                          {
                            "accession": "GCA_003063835.1",
                            "level": "scaffold"
                          }
                        ]
                      },
                      {
                        "tax_id": 765698,
                        "accessions": [
                          {
                            "accession": "GCF_000185905.1",
                            "level": "complete"
                          }
                        ]
                      }
                    ]
                  },
                  "Links": {
                    "value": {
                      "data": [
                        {
                          "tax_id": 278148,
                          "accessions": [
                            {
                              "accession": "GCF_001618845.1",
                              "level": "complete",
                              "links": [
                                {
                                  "rel": "self",
                                  "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/GCF_001618845.1",
                                  "action": "GET",
                                  "types": ["application/json;charset=utf-8"]
                                }
                              ]
                            }
                          ],
                          "links": [
                            {
                              "rel": "taxon",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/278148",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 602633,
                          "accessions": [
                            {
                              "accession": "GCA_003063835.1",
                              "level": "scaffold",
                              "links": [
                                {
                                  "rel": "self",
                                  "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/GCA_003063835.1",
                                  "action": "GET",
                                  "types": ["application/json;charset=utf-8"]
                                }
                              ]
                            }
                          ],
                          "links": [
                            {
                              "rel": "taxon",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/GCF_001618845.1",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 765698,
                          "accessions": [
                            {
                              "accession": "GCF_000185905.1",
                              "level": "complete",
                              "links": [
                                {
                                  "rel": "self",
                                  "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/GCF_000185905.1",
                                  "action": "GET",
                                  "types": ["application/json;charset=utf-8"]
                                }
                              ]
                            }
                          ],
                          "links": [
                            {
                              "rel": "taxon",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/accessions/GCA_003063835.1",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/accessions?taxon_ids=278148,602633",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "Missing required parameter."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxonomy_accessions",
        "description": "Get the recursive accessions for a list of taxa",
        "parameters": [
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [278148, 602633]
            },
            "in": "query",
            "name": "taxon_ids",
            "style": "form",
            "explode": false,
            "required": true,
            "description": "Ids of taxa for finding accessions"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      },
      "parameters": []
    },
    "/taxonomy/mrca": {
      "parameters": [],
      "get": {
        "summary": "Get most recent common ancestor",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Taxon"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": {
                      "tax_id": 9606,
                      "parent": 9605,
                      "name": "Homo sapiens",
                      "common_name": "human"
                    }
                  },
                  "Links": {
                    "value": {
                      "data": {
                        "tax_id": 9606,
                        "parent": 9605,
                        "name": "Homo sapiens",
                        "common_name": "human",
                        "links": [
                          {
                            "rel": "self",
                            "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9606?field_composite=default",
                            "action": "GET",
                            "types": ["application/json;charset=utf-8"]
                          }
                        ]
                      },
                      "links": [
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca?field_composite=all&taxon_ids=9606%2C741158%2C63221",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca?field_composite=gen_count&taxon_ids=9606%2C741158%2C63221",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca?field_composite=gen_count_rec&taxon_ids=9606%2C741158%2C63221",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca?field_composite=id&taxon_ids=9606%2C741158%2C63221",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca?field_composite=rank&taxon_ids=9606%2C741158%2C63221",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca?taxon_ids=9606,741158,63221",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "path",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "Missing required parameter."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxonomy_mrca",
        "description": "Get the most recent common ancestor of a list of taxa",
        "parameters": [
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "schema": {
              "type": "array",
              "example": [9606, 741158, 63221],
              "items": {
                "type": "integer"
              }
            },
            "in": "query",
            "name": "taxon_ids",
            "style": "form",
            "explode": false,
            "required": true,
            "description": "Ids of taxa for which to find the mrca"
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/taxonomy/path": {
      "parameters": [],
      "get": {
        "summary": "Get path connecting two taxa",
        "tags": ["Taxon"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Taxon"
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Plain": {
                    "value": [
                      {
                        "tax_id": 9605,
                        "parent": 207598,
                        "name": "Homo"
                      },
                      {
                        "tax_id": 207598,
                        "parent": 9604,
                        "name": "Homininae"
                      },
                      {
                        "tax_id": 9604,
                        "parent": 314295,
                        "name": "Hominidae",
                        "common_name": "great apes"
                      },
                      {
                        "tax_id": 314295,
                        "parent": 9526,
                        "name": "Hominoidea",
                        "common_name": "apes"
                      },
                      {
                        "tax_id": 9526,
                        "parent": 314293,
                        "name": "Catarrhini"
                      },
                      {
                        "tax_id": 314293,
                        "parent": 376913,
                        "name": "Simiiformes"
                      },
                      {
                        "tax_id": 376913,
                        "parent": 9443,
                        "name": "Haplorrhini"
                      },
                      {
                        "tax_id": 9443,
                        "parent": 314146,
                        "name": "Primates",
                        "common_name": "primates"
                      },
                      {
                        "tax_id": 314146,
                        "parent": 1437010,
                        "name": "Euarchontoglires"
                      },
                      {
                        "tax_id": 1437010,
                        "parent": 9347,
                        "name": "Boreoeutheria"
                      },
                      {
                        "tax_id": 9347,
                        "parent": 32525,
                        "name": "Eutheria",
                        "common_name": "placentals"
                      },
                      {
                        "tax_id": 32525,
                        "parent": 40674,
                        "name": "Theria"
                      },
                      {
                        "tax_id": 40674,
                        "parent": 32524,
                        "name": "Mammalia",
                        "common_name": "mammals"
                      }
                    ]
                  },
                  "Links": {
                    "value": {
                      "data": [
                        {
                          "tax_id": 9605,
                          "parent": 207598,
                          "name": "Homo",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9605?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 207598,
                          "parent": 9604,
                          "name": "Homininae",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/207598?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 9604,
                          "parent": 314295,
                          "name": "Hominidae",
                          "common_name": "great apes",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9604?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 314295,
                          "parent": 9526,
                          "name": "Hominoidea",
                          "common_name": "apes",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/314295?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 9526,
                          "parent": 314293,
                          "name": "Catarrhini",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9526?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 314293,
                          "parent": 376913,
                          "name": "Simiiformes",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/314293?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 376913,
                          "parent": 9443,
                          "name": "Haplorrhini",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/376913?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 9443,
                          "parent": 314146,
                          "name": "Primates",
                          "common_name": "primates",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9443?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 314146,
                          "parent": 1437010,
                          "name": "Euarchontoglires",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/314146?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 1437010,
                          "parent": 9347,
                          "name": "Boreoeutheria",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/1437010?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 9347,
                          "parent": 32525,
                          "name": "Eutheria",
                          "common_name": "placentals",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/9347?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 32525,
                          "parent": 40674,
                          "name": "Theria",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/32525?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        },
                        {
                          "tax_id": 40674,
                          "parent": 32524,
                          "name": "Mammalia",
                          "common_name": "mammals",
                          "links": [
                            {
                              "rel": "self",
                              "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/40674?field_composite=default",
                              "action": "GET",
                              "types": ["application/json;charset=utf-8"]
                            }
                          ]
                        }
                      ],
                      "links": [
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path?end_id=40674&field_composite=all&start_id=9606",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path?end_id=40674&field_composite=gen_count&start_id=9606",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path?end_id=40674&field_composite=gen_count_rec&start_id=9606",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path?end_id=40674&field_composite=id&start_id=9606",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "more fields",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path?end_id=40674&field_composite=rank&start_id=9606",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path?start_id=9606&end_id=40674",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "entities",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxa/{taxon_id}",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "start id is not an integer."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_taxonomy_path",
        "description": "Get the path between a start taxon, that is further from root and an end taxon that is closer to root.\nReturns an empty list if no path connects start and end",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/field_composite"
          },
          {
            "schema": {
              "type": "integer",
              "example": 9606
            },
            "in": "query",
            "name": "start_id",
            "description": "Id of start taxon, further from root",
            "required": true
          },
          {
            "schema": {
              "type": "integer",
              "example": 40674
            },
            "in": "query",
            "name": "end_id",
            "description": "Id of end taxon, closer to root",
            "required": true
          },
          {
            "$ref": "#/components/parameters/plain_data"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/programs": {
      "get": {
        "summary": "Get programs subservices",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "links": [
                        {
                          "rel": "self",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/accessions",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/fintac",
                          "action": "POST",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/mrca",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/neighbors",
                          "action": "POST",
                          "types": ["text/plain;charset=utf-8"]
                        },
                        {
                          "rel": "service",
                          "href": "https://neighbors.evolbio.mpg.de/api/v2/taxonomy/path",
                          "action": "GET",
                          "types": ["application/json;charset=utf-8"]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_programs_endpoints",
        "parameters": [],
        "description": "Get the endpoints provided under the taxonomy route",
        "tags": ["Program"]
      },
      "parameters": []
    },
    "/programs/ants": {
      "get": {
        "summary": "Execute ants program",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "# Back  ID       Name                  Rank\r\n  31    1        root                  no rank\r\n  30    131567   cellular organisms    cellular root\r\n  29    2759     Eukaryota             domain\r\n  28    33154    Opisthokonta          clade\r\n  27    33208    Metazoa               kingdom\r\n  26    6072     Eumetazoa             clade\r\n  25    33213    Bilateria             clade\r\n  24    33511    Deuterostomia         clade\r\n  23    7711     Chordata              phylum\r\n  22    89593    Craniata              subphylum\r\n  21    7742     Vertebrata            clade\r\n  20    7776     Gnathostomata         clade\r\n  19    117570   Teleostomi            clade\r\n  18    117571   Euteleostomi          clade\r\n  17    8287     Sarcopterygii         superclass\r\n  16    1338369  Dipnotetrapodomorpha  clade\r\n  15    32523    Tetrapoda             clade\r\n  14    32524    Amniota               clade\r\n  13    40674    Mammalia              class\r\n  12    32525    Theria                clade\r\n  11    9347     Eutheria              clade\r\n  10    1437010  Boreoeutheria         clade\r\n  9     314146   Euarchontoglires      superorder\r\n  8     9443     Primates              order\r\n  7     376913   Haplorrhini           suborder\r\n  6     314293   Simiiformes           infraorder\r\n  5     9526     Catarrhini            parvorder\r\n  4     314295   Hominoidea            superfamily\r\n  3     9604     Hominidae             family\r\n  2     207598   Homininae             subfamily\r\n  1     9605     Homo                  genus\r\n  0     9606     Homo sapiens          species"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_programs_ants",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["9606"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "description": "Program options"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Executes the neighbors program ants remotely",
        "tags": ["Program"]
      },
      "parameters": []
    },
    "/programs/dree": {
      "get": {
        "summary": "Execute dree program",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "digraph g {\r\n  rankdir=LR\r\n  9592 [label=\"9592\"]\r\n  9592 [label=\"Gorilla\"]\r\n  207598 -> 9592\r\n  9593 [color=\"lightsalmon\",style=filled]\r\n  9593 [label=\"Gorilla gorilla\"]\r\n  9592 -> 9593\r\n  9595 [color=\"lightsalmon\",style=filled]\r\n  9595 [label=\"Gorilla gorilla gorilla\"]\r\n  9593 -> 9595\r\n  9596 [label=\"9596\"]\r\n  9596 [label=\"Pan\"]\r\n  207598 -> 9596\r\n  9597 [color=\"lightsalmon\",style=filled]\r\n  9597 [label=\"Pan paniscus\"]\r\n  9596 -> 9597\r\n  9598 [color=\"lightsalmon\",style=filled]\r\n  9598 [label=\"Pan troglodytes\"]\r\n  9596 -> 9598\r\n  9605 [label=\"9605\"]\r\n  9605 [label=\"Homo\"]\r\n  207598 -> 9605\r\n  9606 [color=\"lightsalmon\",style=filled]\r\n  9606 [label=\"Homo sapiens\"]\r\n  9605 -> 9606\r\n  37012 [color=\"lightsalmon\",style=filled]\r\n  37012 [label=\"Pan troglodytes verus\"]\r\n  9598 -> 37012\r\n  207598 [label=\"207598\"]\r\n  207598 [label=\"Homininae\"]\r\n  499232 [color=\"lightsalmon\",style=filled]\r\n  499232 [label=\"Gorilla beringei\"]\r\n  9592 -> 499232\r\n  1159185 [color=\"lightsalmon\",style=filled]\r\n  1159185 [label=\"Gorilla beringei beringei\"]\r\n  499232 -> 1159185}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_programs_dree",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["-n", "-g", "207598"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "description": "Program options"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Executes the neighbors program dree remotely",
        "tags": ["Program"]
      },
      "parameters": []
    },
    "/programs/fintac": {
      "parameters": [],
      "post": {
        "summary": "Execute fintac remotely",
        "tags": ["Program"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "#Clade  Targets  Neighbors  Unknowns  Split (%)  Parent  Dist(Parent)\r\n 5007    22       8          18        98.53      5005    0.000385"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-programs-fintac",
        "description": "Executes the neighbors program fintac remotely",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "example": ["-t", "991910_", "-u", "562_"],
            "description": "Program options"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["eco7k.nwk"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "extra",
            "description": "Names of files"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/programs/neighbors": {
      "get": {
        "summary": "Execute neighbors program",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "# MRCA(targets): 9606, Homo sapiens\r\n# MRCA(targets+neighbors): 9605, Homo\r\n# Type  Taxon-ID  Name                               Genomes\r\nt       9606      Homo sapiens                       GCA_947361175.1|GCA_963931935.1|GCF_009914755.1\r\ntt      63221     Homo sapiens neanderthalensis      -\r\ntt      741158    Homo sapiens subsp. 'Denisova'     -\r\nn       1425170   Homo heidelbergensis               -\r\nn       2665952   environmental samples              -\r\nn       2665953   Homo sapiens environmental sample  -\r\nn       2813598   unclassified Homo                  -\r\nn       2813599   Homo sp.                           -"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_programs_neighbors",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["-L", "complete", "-t", "9606"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "description": "Program options"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Executes the program neighbors remotely",
        "tags": ["Program"]
      },
      "parameters": [],
      "post": {
        "summary": "Execute neighbors remotely with files",
        "tags": ["Program"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "# MRCA(targets): 9606, Homo sapiens\r\n# MRCA(targets+neighbors): 9605, Homo\r\n# Type  Taxon-ID  Name                               Genomes\r\nt       9606      Homo sapiens                       GCA_947361175.1|GCA_963931935.1|GCF_009914755.1\r\ntt      63221     Homo sapiens neanderthalensis      -\r\ntt      741158    Homo sapiens subsp. 'Denisova'     -\r\nn       1425170   Homo heidelbergensis               -\r\nn       2665952   environmental samples              -\r\nn       2665953   Homo sapiens environmental sample  -\r\nn       2813598   unclassified Homo                  -\r\nn       2813599   Homo sp.                           -"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-programs-neighbors",
        "description": "Executes the program neighbors remotely with files",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["-L", "complete"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "description": "Program options"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["targets.txt"]
            },
            "style": "form",
            "explode": false,
            "in": "query",
            "name": "extra",
            "description": "Names of files"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ]
      }
    },
    "/programs/ranks": {
      "get": {
        "summary": "Execute ranks program",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "digraph g {\r\n  rankdir=LR\r\n  1 [label=\"species\n392350 (97.7%)\"]\r\n  2 [label=\"no rank\n4503 (1.1%)\"]\r\n  3 [label=\"no rank\n17 (< 0.1%)\"]\r\n  4 [label=\"strain\n422 (0.1%)\"]\r\n  5 [label=\"no rank\n2 (< 0.1%)\"]\r\n  6 [label=\"serogroup\n1646 (0.4%)\"]\r\n  7 [label=\"no rank\n15 (< 0.1%)\"]\r\n  8 [label=\"serotype\n6 (< 0.1%)\"]\r\n  9 [label=\"strain\n1 (< 0.1%)\"]\r\n  10 [label=\"strain\n12 (< 0.1%)\"]\r\n  11 [label=\"serotype\n30 (< 0.1%)\"]\r\n  12 [label=\"strain\n1 (< 0.1%)\"]\r\n  13 [label=\"strain\n2438 (0.6%)\"]\r\n  14 [label=\"no rank\n85 (< 0.1%)\"]\r\n  1 -> 2\r\n  2 -> 3\r\n  2 -> 4\r\n  4 -> 5\r\n  1 -> 6\r\n  6 -> 7\r\n  6 -> 8\r\n  8 -> 9\r\n  6 -> 10\r\n  1 -> 11\r\n  11 -> 12\r\n  1 -> 13\r\n  13 -> 14\r\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get_programs_ranks",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["562"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "description": "Program options"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "description": "Executes the neighbors program ranks remotely",
        "tags": ["Program"]
      },
      "parameters": [],
      "post": {
        "summary": "Execute ranks remotely with files",
        "tags": ["Program"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "Example": {
                    "value": "digraph g {\r\n  rankdir=LR\r\n  1 [label=\"species\n392350 (97.7%)\"]\r\n  2 [label=\"no rank\n4503 (1.1%)\"]\r\n  3 [label=\"no rank\n17 (< 0.1%)\"]\r\n  4 [label=\"strain\n422 (0.1%)\"]\r\n  5 [label=\"no rank\n2 (< 0.1%)\"]\r\n  6 [label=\"serogroup\n1646 (0.4%)\"]\r\n  7 [label=\"no rank\n15 (< 0.1%)\"]\r\n  8 [label=\"serotype\n6 (< 0.1%)\"]\r\n  9 [label=\"strain\n1 (< 0.1%)\"]\r\n  10 [label=\"strain\n12 (< 0.1%)\"]\r\n  11 [label=\"serotype\n30 (< 0.1%)\"]\r\n  12 [label=\"strain\n1 (< 0.1%)\"]\r\n  13 [label=\"strain\n2438 (0.6%)\"]\r\n  14 [label=\"no rank\n85 (< 0.1%)\"]\r\n  1 -> 2\r\n  2 -> 3\r\n  2 -> 4\r\n  4 -> 5\r\n  1 -> 6\r\n  6 -> 7\r\n  6 -> 8\r\n  8 -> 9\r\n  6 -> 10\r\n  1 -> 11\r\n  11 -> 12\r\n  1 -> 13\r\n  13 -> 14\r\n}"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-programs-ranks",
        "description": "Executes the neighbors program ranks remotely with files",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": ["-g", "myGenomeList.txt", "562"]
            },
            "style": "form",
            "explode": true,
            "in": "query",
            "name": "options",
            "description": "Program options"
          },
          {
[...]
