api/v1/bin/
api/v1/data/
api/v1/never/bits
api/v1/doc/*.aux
api/v1/doc/*.bbl
api/v1/doc/*.blg
api/v1/doc/*.dvi
api/v1/doc/*.log
api/v1/doc/*.pdf
api/v1/doc/*.ps
api/v1/doc/*.out
api/v1/doc/*.toc
api/v1/doc/date.txt
api/v1/doc/fetch.tex
api/v1/doc/never.tex
api/v1/doc/testNever.tex
api/v1/doc/util.tex
api/v1/doc/version.txt

api/v1/fetch/fetch
api/v1/fetch/inspectRes.sh
api/v1/fetch/makeRes.sh

api/v1/never/never
api/v1/never/startLocal.sh
api/v1/never/template.doc

web/certificates/
neidb
