bin/
never/bits
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.log
doc/*.pdf
doc/*.ps
doc/*.out
doc/*.toc
doc/date.txt
doc/fetch.tex
doc/never.tex
doc/testNever.tex
doc/util.tex
doc/version.txt

fetch/fetch
fetch/inspectRes.sh
fetch/makeRes.sh

never/never
never/startLocal.sh
never/template.doc

web/