{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
  </head>
  <body>
    {{template "indexBody" .}}
  </body>
</html>
{{end}}
{{define "head"}}
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<link rel="stylesheet" href="./static/w3.css"/>
<title>{{.Title}}</title>
{{end}}
{{define "indexBody"}}
{{template "indexTitle"}}
{{template "indexDescr"}}
{{template "functions" .Functions}}
{{template "programs" .Programs}}
{{end}}
{{define "indexTitle"}}
<div class="w3-container">
  <h1>Welcome to the Neighbors Server</h1>
</div>
{{end}}
{{define "indexDescr"}}
<div class="w3-container">
  <p>
    The Neighbors server gives access to the accessions of genome
    sequences linked to
    the <a href="https://www.ncbi.nlm.nih.gov/taxonomy">NCBI
      taxonomy</a>.
  </p>
  <p>
    Starting from one or more target organisms, their genomes are looked
    up. In addition, the genomes of the targets' closest relatives,
    their <i>neighbors</i> are looked up. Such pairs of target and
    neighbor genomes make good starting material for developing
    diagnostic markers.
  </p>
  <p>
    The server is based on
    the <a href="https://github.com/evolbioinf/neighbors">Neighbors
    package</a> and is developed in the Research Group Bioinformatics at
    the Max-Planck-Institute for Evolutionary Biology in Plön. For
    details on marker discovery with Neighbors and related software,
    please consult
    our <a href="https://doi.org/10.1093/bioadv/vbae113">publication</a>.
  </p>
 </div>
{{end}}
{{define "functions"}}
<div class="w3-container">
  <h2>Functions</h2>
  <table class="w3-container">
    {{template "table" .}}
  </table>
</div>
{{end}}
{{define "programs"}}
<div class="w3-container">
  <h2>Programs</h2>
  <table class="w3-container">
    {{template "table" .}}
  </table>
</div>
{{end}}
{{define "table"}}
{{template "header"}}
{{template "body" .}}
{{end}}
{{define "header"}}
<tr>
  <th>#</th>
  <th>Name</th>
  <th>Query</th>
</tr>
{{end}}
{{define "body"}}
{{range $i, $e := .}}
<tr>
  <td>{{inc $i}}</td>
  <td>{{.Name}}</td>
  <td><a href="{{.Name}}{{.Query}}"><code>{{.Query}}</code></td>
</tr>
{{end}}
{{end}}
