:root {
  --primary-color: #fafafa;
  --secondary-color: #495057;
  --accent-color: #006c66;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: "Roboto", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

.section-divider {
  height: 0;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
  stroke: var(--secondary-color);
}

section {
  margin: 0 auto 2rem auto;
  max-width: 80rem;
  overflow-anchor: none;
}

a:link,
a:visited {
  color: var(--secondary-color);
}
