:root {
  --primary-color: #fafafa;
  --secondary-color: #495057;
  --accent-color: #006c66;
  --post-color: #aaaa22;
  --query-color: #2277aa;
  --get-color: #00aa66;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: "Roboto", Arial, sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: color-mix(in srgb, var(--secondary-color), white 95%);
  border-bottom: 1px solid var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto 0 auto;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links > a {
  text-decoration: none;
}

/* modified version of https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
.nav-links > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links > a:hover::after {
  transform: scaleX(1);
}
/* +++++++++++++++++++++++++++++++++++ */

.sever-info {
  background-color: color-mix(in srgb, var(--secondary-color), white 95%);
  padding: 0.5rem 0 0.5rem 0;
  box-shadow: 0 3px 10px color-mix(in srgb, var(--secondary-color), white 75%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.section-divider {
  height: 0;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
  stroke: var(--secondary-color);
}

section {
  margin: 0 auto 2rem auto;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 80rem;
  overflow-anchor: none;
}

@media (min-width: 1920px) {
  section {
    max-width: 70vw;
  }
}

a:link,
a:visited {
  color: var(--secondary-color);
}
