.endpoint-card-body {
  position: relative;
  border-top: 0px;
  border-radius: 0px 0px 12px 12px;
  margin-top: -10px;
  padding: 40px 0 10px 25px;
  z-index: 1;
  display: none;
}

.endpoint-card-body-get {
  border: 2px solid var(--get-color);
  background-color: color-mix(in srgb, var(--get-color), white 90%);
}

.endpoint-card-body-post {
  border: 2px solid var(--post-color);
  background-color: color-mix(in srgb, var(--post-color), white 90%);
}

.description {
  width: 50%;
  border-right: 1px solid var(--secondary-color);
}

.description-title {
  margin-top: 0;
}

.description-text {
  margin-left: 15px;
}

.arg-divider {
  height: 0;
  border-bottom: 0;
  margin-left: 0;
  margin-bottom: 0;
  stroke: var(--secondary-color);
  width: 95%;
}

.responses {
  padding-left: 25px;
  width: 50%;
}

.response-upper {
  display: flex;
  flex-direction: column;
}

.response-example {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.schema-title {
  margin-bottom: 0;
}

.run-example {
  height: 2rem;
  width: 5rem;
  font-size: medium;
  cursor: pointer;
  color: var(--primary-color);
  border-radius: 4px;
  transition: background-color 0.25s ease;
}

.run-example-get {
  border: 1px solid var(--get-color);
  background-color: var(--get-color);
}

.run-example-post {
  border: 1px solid var(--post-color);
  background-color: var(--post-color);
}

.run-example-get:hover {
  border: 1px solid color-mix(in srgb, var(--get-color), white 30%);
  background-color: color-mix(in srgb, var(--get-color), white 30%);
}

.run-example-post:hover {
  border: 1px solid color-mix(in srgb, var(--post-color), white 30%);
  background-color: color-mix(in srgb, var(--post-color), white 30%);
}

.input-example {
  height: 1.6rem;
  width: 80%;
  padding-left: 10px;
  font-size: medium;
}

.response-codes {
  display: grid;
  grid-template-columns: 15% auto;
  width: 100%;
  margin-bottom: 15px;
}

.response-code {
  margin-right: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  font-size: large;
  justify-self: center;
  font-weight: 500;
  padding: 6px 15px 6px 15px;
  justify-self: flex-start;
}

.response-description {
  align-self: center;
  font-size: large;
}

.response-code-header {
  margin-bottom: 0;
}
